

* {
    font-family: -apple-system, 'Open Sans', sans-serif;
    
    
}

body {
    color: #ffffff;
    background-color: rgb(88, 87, 87);
}

h1, .generate, .out {
    margin-top: 20px;
}

.form-control-range {
    fill: red;
}
